<%- include ('header') %>
    <h1>admin page create post & send to mongodb</h1>
    <h2>post info</h2>
    <%- include ('posts') %>

    <form method="POST" name="mainform" enctype="multipart/form-data">
        <label>post title</label>
        <input type="text" name="title">
        <label>post desctioption</label>
        <input type="text" name="description">
        <label>author-name</label>
        <input type="text" name="author">
        <button type="submit">send</button>
    </form>
    <span class="justadd"></span>
<%- include ('footer') %>